<header
  class="header p-2 {{ if site.Params.navbar_fixed }}
    sticky top-0
  {{ end }} z-30">
  <nav class="navbar container px-4">
    <!-- logo -->
    <div class="order-0">
      <!-- navbar brand/logo -->
      <a class="navbar-brand block" href="{{ site.Home.RelPermalink }}">
        {{ partial "logo" }}
      </a>
    </div>

    <div class="order-1 ml-auto flex items-center md:order-2 lg:ml-0">
      {{ partial "components/language-switcher" (dict "Context" . "Class" "mr-4 pl-1 py-1 dark:bg-darkmode-theme-light rounded") }}
      {{ partial "components/theme-switcher" (dict "Class" "mr-4") }}
    </div>
  </nav>
</header>
